* {
  margin: 0;
  font-weight: 800;
  line-height: 40px;
}

body {
  font-family: Muli, Arial, sans-serif;
  font-size: 20px;
  color: black;
}

a {
  font-weight: 800;
  color: #080808;
  text-decoration: none;
  padding: 0 0 2px;
  border-bottom: 3px solid #ff9a8e;
}

a:hover, nav li a:hover {
  border-bottom: 3px solid black;
  color: #ca3a3a;
}

header a:hover {
  border-bottom: 3px solid #ff9a8e;
}

header {
  background-color: #ff9a8e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  height: 42px;
}

nav {
  background-color: #ff9a8e52;
  padding: 0 20px;
}

nav li {
  list-style-type: none;
  font-weight: 800;
  padding: 0;
}

nav li:before {
  content: "//";
  padding-right: 12px;
}

nav li a {
  font-style: italic;
  font-weight: 800;
  font-size: 90%;
  border-bottom: none;
}

nav li a:hover {
  box-shadow: none;
  border-bottom: 3px solid #080808;
}

h1 {
  color: #fef0be;
  font-style: italic;
  font-weight: 900;
  font-size: 8vw
}

h2 {
  font-size: 28px;
  padding: 20px 0 0;
  font-weight: 900;
  font-style: italic;
}

h3 {
  font-weight: 900;
  font-style: italic;
}

main {
  padding: 0 16px 0 20px;
}

ul {
  margin: 0;
  padding: 20px 0;
}

li {
  padding-bottom: 30px;
  list-style-type: none;
}

p {
  padding: 15px 0;
}

footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

footer ul li {
  display: inline;
  padding-right: 24px;
}

.current-page {
  border-bottom: 3px solid #ff9a8e
}

.contributor {
  color: grey;
  padding: 0;
}

strong {
  font-weight: 900;
}

.badge {
  padding: 4px 8px;
  background-color: rgb(248, 208, 192);
  color: rgb(107, 90, 83);
  border-radius: 15px;
  margin: 4px;
  font-size: 18px;
  white-space: nowrap;
}

.badge-intermediate {
  background-color: rgb(189, 243, 243);
  color: rgb(91, 117, 117);
}

.badge-beginner {
  background-color: rgb(227, 228, 163);
  color: rgb(81, 82, 58);
}

.badge-advanced {
  background-color: pink;
  color: rgb(104, 78, 83);
}

.badge-learning-by-doing {
  background-color: rgb(179, 218, 241);
  color: rgb(57, 70, 78);
}

.badge-learning-with-others {
  background-color: rgb(247, 218, 241);
  color: rgb(83, 74, 82);
}

.badge-motivated-by-visuals {
  background-color: #dae7dc;
  color: #363a37;
}

.badge-motivated-by-data {
  background-color: #dadbe7;
  color: #464649;
}

.badge-motivated-by-knowledge {
  background-color: #e7dadb;
  color: #524c4d;
}

.badge-editorial {
  background-color: #c9f9d1;
  color: #455748;
}

.badge-marketing {
  background-color: lavender;
  color: rgb(74, 74, 82);
}

.badge-rights {
  background-color: thistle;
  color: rgb(92, 81, 92);
}

.badge-design {
  background-color: mistyrose;
  color: rgb(100, 87, 86);
}

img {
  width: 100%;
  padding-top: 10px;
}

@media (min-width: 800px) {
  header {
    height: 100vh;
    padding: 0;
  }

  .header--secondary {
    padding: 5%;
    height: 42px;
  }

  li {
    list-style-type: disc;
  }

  nav ul {
    margin: 0 auto;
    width: 800px;
    padding: 0;
    text-align: center;
  }

  nav li {
    display: inline-block;
    padding: 20px 40px;
  }

  nav li a {
    font-size: 110%;
  }

  h2 {
    font-size: 35px;
    padding: 40px 0 20px 0;
    font-weight: 900;
    font-style: italic;
  }

  p {
    padding: 30px 0;
  }

  main {
    margin: 0 auto;
    width: 800px;
    padding: 20px;
  }

  footer {
    margin-top: 100px;
  }
}
