/* https://colorhunt.co/palette/258170 */
:root {
  --primary-color: #fce38a;
  --tertiary-color: #eaffd0;
  --brand-color: #ff75a0;
  --white: #ffffff;
  --nav-link: #080808;
  --link: #c63663;
  --hover: #f72164;
  --header: #000;
}

* {
  margin: 0;
  font-weight: 800;
  line-height: 40px;
}

body {
  font-family: Muli, Arial, sans-serif;
  font-size: 20px;
  color: black;
}

a {
  font-weight: 800;
  color: var(--link);
  text-decoration: none;
  padding: 0 0 2px;
  border-bottom: 3px solid transparent;
}

a:hover, nav li a:hover {
  border-bottom: 3px solid black;
  color: var(--hover);
}

header a:hover {
  border-bottom: 3px solid transparent;
}

header {
  background-color: var(--brand-color);
background: linear-gradient(180deg, rgba(255,94,144,1) 0%, rgba(247,99,146,1) 56%, rgba(255,161,190,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  height: 42px;
}

nav {
  background-color: var(--primary-color);
  padding: 0 20px;
  color: var(--nav-link);
}

nav li {
  list-style-type: none;
  font-weight: 800;
  padding: 0;
}

nav li:before {
  content: "//";
  padding-right: 12px;
}

nav li a {
  font-style: italic;
  font-weight: 800;
  font-size: 90%;
  border-bottom: none;
  color: var(--nav-link);
}

nav li a:hover {
  box-shadow: none;
  border-bottom: 3px solid #080808;
}

h1 {
  color: var(--header);
  font-style: italic;
  font-weight: 900;
  font-size: 8vw
}

h2 {
  font-size: 28px;
  padding: 20px 0 0;
  font-weight: 900;
  font-style: italic;
}

h3 {
  font-weight: 900;
  font-style: italic;
}

main {
  padding: 0 16px 0 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding-bottom: 30px;
  list-style-type: none;
}

p {
  padding: 15px 0;
}

footer {
  background-color: var(--tertiary-color);
  background: linear-gradient(180deg, rgba(234,255,208,1) 0%, rgba(149,225,211,1) 100%);
  padding: 10px;
  text-align: center;
}

footer ul li {
  display: inline;
  padding-right: 24px;
}

.current-page {
  border-bottom: 3px solid var(--brand-color);
}

.contributor {
  color: grey;
  padding: 0;
}

strong {
  font-weight: 900;
}

.badge {
  padding: 4px 8px;
  background-color: rgb(248, 208, 192);
  color: rgb(128, 93, 78);
  border-radius: 15px;
  margin: 4px;
  font-size: 18px;
  white-space: nowrap;
}

.badge-intermediate {
  background-color: rgb(189, 243, 243);
  color: rgb(31, 143, 143);
}

.badge-beginner {
  background-color: rgb(227, 228, 163);
  color: rgb(134, 139, 27)
}

.badge-advanced {
  background-color: pink;
  color: rgb(156, 64, 82);
}

.badge-learning-by-doing {
  background-color: rgb(179, 218, 241);
  color: rgb(62, 92, 110);
}

.badge-learning-with-others {
  background-color: rgb(247, 218, 241);
  color: rgb(129, 68, 121);
}

.badge-motivated-by-visuals {
  background-color: #dae7dc;
  color: #3c7c4b;
}

.badge-motivated-by-data {
  background-color: #dadbe7;
  color: #43437a;
}

.badge-motivated-by-knowledge {
  background-color: #e7dadb;
  color: #524c4d;
}

.badge-editorial {
  background-color: #c9f9d1;
  color: #455748;
}

.badge-marketing {
  background-color: lavender;
  color: rgb(75, 75, 131);
}

.badge-rights {
  background-color: thistle;
  color: rgb(138, 70, 138);
}

.badge-design {
  background-color: mistyrose;
  color: rgb(185, 86, 78);
}

img {
  width: 100%;
  padding-top: 10px;
}

figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: top;
  font-weight: 400;
}

@media (min-width: 800px) {
  header {
    height: 100vh;
    padding: 0;
  }

  .header--secondary {
    padding: 5%;
    height: 42px;
  }

  li {
    list-style-type: disc;
  }

  nav ul {
    margin: 0 auto;
    width: 800px;
    padding: 0;
    text-align: center;
  }

  nav li {
    display: inline-block;
    padding: 20px 40px;
  }

  nav li a {
    font-size: 110%;
  }

  h2 {
    font-size: 35px;
    padding: 40px 0 20px 0;
    font-weight: 900;
    font-style: italic;
  }

  p {
    padding: 30px 0;
  }

  main {
    margin: 0 auto;
    width: 800px;
    padding: 20px;
  }

  footer {
    margin-top: 100px;
  }
}
